Magic 271485
Revision Verdi_P-2019.06

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 23 1280 697 233 101

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/RAID2/COURSE/mlchip/mlchip126/HW4/hw4/wave.vcd" "/RAID2/COURSE/mlchip/mlchip126/HW4/hw4/wave.vcd.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 451561852.742683 452676667.476158
cursor 697690000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 9

; Run Time Signal and Member
; userBusMem member ...
; saveRunSig name
activeDirFile "" "/RAID2/COURSE/mlchip/mlchip126/HW4/hw4/wave.vcd.fsdb"
userBusMem /SystemC/m_controller/flit_tx[31]
userBusMem /SystemC/m_controller/flit_tx[30]
userBusMem /SystemC/m_controller/flit_tx[29]
userBusMem /SystemC/m_controller/flit_tx[28]
userBusMem /SystemC/m_controller/flit_tx[27]
userBusMem /SystemC/m_controller/flit_tx[26]
userBusMem /SystemC/m_controller/flit_tx[25]
userBusMem /SystemC/m_controller/flit_tx[24]
userBusMem /SystemC/m_controller/flit_tx[23]
userBusMem /SystemC/m_controller/flit_tx[22]
userBusMem /SystemC/m_controller/flit_tx[21]
userBusMem /SystemC/m_controller/flit_tx[20]
userBusMem /SystemC/m_controller/flit_tx[19]
userBusMem /SystemC/m_controller/flit_tx[18]
userBusMem /SystemC/m_controller/flit_tx[17]
userBusMem /SystemC/m_controller/flit_tx[16]
userBusMem /SystemC/m_controller/flit_tx[15]
userBusMem /SystemC/m_controller/flit_tx[14]
userBusMem /SystemC/m_controller/flit_tx[13]
userBusMem /SystemC/m_controller/flit_tx[12]
userBusMem /SystemC/m_controller/flit_tx[11]
userBusMem /SystemC/m_controller/flit_tx[10]
userBusMem /SystemC/m_controller/flit_tx[9]
userBusMem /SystemC/m_controller/flit_tx[8]
userBusMem /SystemC/m_controller/flit_tx[7]
userBusMem /SystemC/m_controller/flit_tx[6]
userBusMem /SystemC/m_controller/flit_tx[5]
userBusMem /SystemC/m_controller/flit_tx[4]
userBusMem /SystemC/m_controller/flit_tx[3]
userBusMem /SystemC/m_controller/flit_tx[2]
userBusMem /SystemC/m_controller/flit_tx[1]
userBusMem /SystemC/m_controller/flit_tx[0]
saveRunSig "flit_float[31:0]"

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/RAID2/COURSE/mlchip/mlchip126/HW4/hw4/wave.vcd.fsdb"
addSignal -h 15 /SystemC/m_controller/ack_rx
addSignal -h 15 -holdScope clk
addSignal -h 15 -holdScope data_float[31:0]
addSignal -h 15 -holdScope data_received[31:0]
addSignal -h 15 -holdScope data_valid
addSignal -h 15 -holdScope flit_rx[33:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope flit_tx[33:0]
addSignal -h 15 -holdScope req_tx
addSignal -h 15 /flit_float[31:0]
addSignal -h 15 /SystemC/m_controller/ack_tx
addSignal -h 15 -holdScope layer_id[31:0]
addSignal -h 15 -holdScope layer_id_type
addSignal -h 15 -holdScope layer_id_valid
addSignal -h 15 -holdScope req_rx
addSignal -h 15 -holdScope rst
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/RAID2/COURSE/mlchip/mlchip126/HW4/hw4/wave.vcd.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/SystemC"

SCOPE_LIST_BEGIN
"/SystemC"
"/SystemC/m_controller"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


