Magic 271485
Revision Verdi_P-2019.06

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 23 1536 793 296 108

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/RAID2/COURSE/mlchip/mlchip126/hw3/wave.vcd" "/RAID2/COURSE/mlchip/mlchip126/hw3/wave.vcd.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 202000.000000
cursor 190000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 1
; marker line index
markerPos 20

; Run Time Signal and Member
; userBusMem member ...
; saveRunSig name
activeDirFile "" "/RAID2/COURSE/mlchip/mlchip126/hw3/wave.vcd.fsdb"
userBusMem /SystemC/core_1/flit_rx[33]
userBusMem /SystemC/core_1/flit_rx[32]
saveRunSig "Type[33:32]"

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "Core0"
addSubGroup "Tx"
activeDirFile "" "/RAID2/COURSE/mlchip/mlchip126/hw3/wave.vcd.fsdb"
addSignal -h 21 -UNSIGNED -HEX /SystemC/core_0/flit_tx[33:0]
addSignal -h 21 -holdScope req_tx
addSignal -h 21 /SystemC/clk
addSignal -h 21 /SystemC/core_0/ack_tx
endSubGroup "Tx"
addSubGroup "RX"
addSignal -h 21 /SystemC/core_0/ack_rx
addSignal -h 21 -UNSIGNED -HEX -holdScope flit_rx[33:0]
addSignal -h 21 -holdScope req_rx
endSubGroup "RX"
addGroup "Core1"
addSubGroup "Tx"
addSignal -h 21 -UNSIGNED -HEX /SystemC/core_1/flit_tx[33:0]
addSignal -h 21 -holdScope req_tx
addSignal -h 21 -holdScope ack_tx
endSubGroup "Tx"
addSubGroup "RX"
addSignal -h 21 /SystemC/clk
addSignal -h 21 /SystemC/core_1/ack_rx
addSignal -h 21 -holdScope req_rx
addSignal -h 21 -UNSIGNED -HEX -holdScope flit_rx[33:0]
addSignal -h 21 /Type[33:32]
endSubGroup "RX"
addGroup "Router0"
addSignal -h 21 /SystemC/clk
addSignal -h 21 /SystemC/R_0/in_ack_0
addSignal -h 21 -holdScope in_ack_1
addSignal -h 21 -holdScope out_req_1
addSignal -h 21 -holdScope out_busy_1
addSignal -h 21 -holdScope in_ack_2
addSignal -h 21 -holdScope in_ack_3
addSignal -h 21 -holdScope in_ack_4
addSignal -h 21 -UNSIGNED -HEX -holdScope in_flit_0[33:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope in_flit_1[33:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope out_flit_1[33:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope in_flit_2[33:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope in_flit_3[33:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope in_flit_4[33:0]
addSignal -h 21 -holdScope in_req_0
addSignal -h 21 -holdScope in_req_1
addSignal -h 21 -holdScope in_req_2
addSignal -h 21 -holdScope in_req_3
addSignal -h 21 -holdScope in_req_4
addSignal -h 21 -holdScope out_ack_0
addSignal -h 21 -holdScope out_ack_1
addSignal -h 21 -holdScope out_ack_2
addSignal -h 21 -holdScope out_ack_3
addSignal -h 21 -holdScope out_ack_4
addSignal -h 21 -holdScope out_busy_0
addSignal -h 21 -holdScope out_busy_2
addSignal -h 21 -holdScope out_busy_3
addSignal -h 21 -holdScope out_busy_4
addSignal -h 21 -UNSIGNED -HEX -holdScope out_flit_0[33:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope out_flit_2[33:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope out_flit_3[33:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope out_flit_4[33:0]
addSignal -h 21 -holdScope out_req_0
addSignal -h 21 -holdScope out_req_2
addSignal -h 21 -holdScope out_req_3
addSignal -h 21 -holdScope out_req_4
addGroup "Router1"
addSignal -h 21 /SystemC/R_1/in_ack_0
addSignal -h 21 -holdScope in_ack_1
addSignal -h 21 -holdScope in_ack_2
addSignal -h 21 -holdScope in_req_0
addSignal -h 21 -holdScope out_busy_3
addSignal -h 21 -holdScope out_ack_0
addSignal -h 21 -holdScope in_ack_3
addSignal -h 21 -holdScope in_ack_4
addSignal -h 21 -UNSIGNED -HEX -holdScope in_flit_0[33:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope in_flit_1[33:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope in_flit_2[33:0]
addSignal -h 21 /SystemC/clk
addSignal -h 21 -UNSIGNED -HEX /SystemC/R_1/in_flit_3[33:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope in_flit_4[33:0]
addSignal -h 21 -holdScope in_req_1
addSignal -h 21 -holdScope in_req_2
addSignal -h 21 -holdScope in_req_3
addSignal -h 21 -holdScope in_req_4
addSignal -h 21 -holdScope out_ack_1
addSignal -h 21 -holdScope out_ack_2
addSignal -h 21 -holdScope out_ack_3
addSignal -h 21 -holdScope out_ack_4
addSignal -h 21 -holdScope out_busy_0
addSignal -h 21 -holdScope out_busy_1
addSignal -h 21 -holdScope out_busy_2
addSignal -h 21 -holdScope out_busy_4
addSignal -h 21 -UNSIGNED -HEX -holdScope out_flit_0[33:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope out_flit_1[33:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope out_flit_2[33:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope out_flit_3[33:0]
addSignal -h 21 -UNSIGNED -HEX -holdScope out_flit_4[33:0]
addSignal -h 21 -holdScope out_req_0
addSignal -h 21 -holdScope out_req_1
addSignal -h 21 -holdScope out_req_2
addSignal -h 21 -holdScope out_req_3
addSignal -h 21 -holdScope out_req_4
addGroup "Core2"
addSubGroup "Tx"
addSignal -h 21 -UNSIGNED -HEX /SystemC/core_2/flit_tx[33:0]
addSignal -h 21 -holdScope req_tx
addSignal -h 21 -holdScope ack_tx
endSubGroup "Tx"
addSubGroup "RX"
addSignal -h 21 /SystemC/core_2/ack_rx
addSignal -h 21 -UNSIGNED -HEX -holdScope flit_rx[33:0]
addSignal -h 21 -holdScope req_rx
endSubGroup "RX"
addGroup "G5"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/RAID2/COURSE/mlchip/mlchip126/hw3/wave.vcd.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/SystemC"

SCOPE_LIST_BEGIN
"/SystemC"
"/SystemC/core_0"
"/SystemC/Rr_15"
"/SystemC/Rr_14"
"/SystemC/R_0"
"/SystemC/R_1"
"/SystemC/router_0"
"/SystemC/router_2"
"/SystemC/router_4"
"/SystemC/core_15"
"/SystemC/core_13"
"/SystemC/Rr_9"
"/SystemC/Rr_0"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


